@import 'reset';
@import 'variable';

// body {
//     min-height: 100vh;
// }

.app{
    background: var(--bg-white);
    min-height: 100vh;
}

.pageWrapper{
    padding: 20px 20px 20px 45px;
    flex-grow: 1;
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
    flex-shrink: 100;
}


*{
    font-family: sans-serif;
    font-size: 14px;
}
