.sidebarItemSmall{
    display: flex;
    cursor: pointer;
    color: var(--txt-color);
    font-size: 19px;
    margin-left: 15px;
    padding-left: 5px;
    position: relative;
    min-height: 30px;
    align-items: center;
    transition: all .3s ease;

    .line{
        width: 1px;
        height: 100%;
        background-color: #414141;
        display: block;
        position: absolute;
        left: -15px;
    }

    &:first-child{
        margin-top: 20px;
    }

    &::after{
        content: '.................................................................';
    }

    &::before{
        content: "-";
        position: absolute;
        left: -15px;
        color: #414141;
    }

    &:last-child{
        .line{
            top: 0;
            height: 18px;
        }
    }

    &:hover{
        background-color: var(--bg-second);
    }
}