.sidebarFolder{
    width: 150px;
    background-color: #3a3ff8;
    text-align: left;
    overflow: hidden;
    padding: 3px 5px;

    .nameItem{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 7px;

        span{
            cursor: pointer;
            color: var(--txt-color);
            font-size: 18px;

            &::after{
                content: '.............................';
            }
        }


        .arrow{
            cursor: pointer;
            width: 15px;
            height: 15px;
            fill: var(--txt-color);
            transform: rotate(90deg);
            transition: all .5s;
    
            &.active{
                transform: rotate(270deg);
            }
        }
    }  
}

.folderChildren{
    float: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: 0;
    overflow: hidden;
    transition: all .5s ease;
    padding: 0;

    &.active{
        padding: 15px 0 0 30px;
        max-height: 300px;
        height: auto;
        transition: all .9s ease;
    }

}