.sidebarFolder{
    width: 200px;
    text-align: left;
    overflow: hidden;

    .nameItem{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 7px;
        z-index: 2;
        position: relative;
        background: var(--bg-main);

        span{
            cursor: pointer;
            color: var(--txt-color);
            font-size: 18px;

            &::after{
                content: '.............................';
            }
        }


        .arrow{
            cursor: pointer;
            width: 15px;
            height: 15px;
            fill: var(--txt-color);
            transform: rotate(90deg);
            transition: all .5s;
    
            &.active{
                transform: rotate(270deg);
            }
        }
    }  
}

.folderChildren{
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    width: 104%;
    z-index: 1;
    opacity: .7;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    margin-left: 7px;

    &.active {
        max-height: 50vw; 
        opacity: 1; 
        transition: max-height 1.7s ease, opacity 1.5s ease; 
    }
}